footer
    section.contacts#contacts
        .container
            .section-title
                h1.contacts-title.section-title-content.--footer-title-mod Контакты
            .contacts-wrapper 
                form.contacts-wrapper-item.form(action="#")
                    h1.form-title Заполните заявку
                    input(type="text" placeholder="Ваше имя и фамилия", required).form-item
                    input(type="tel" placeholder="Ваш номер телефона", required).form-item
                    input(type="email" placeholder="Ваша почта", required).form-item
                    div(class="__select" data-state="")
                        div(class="__select__title") Выберите мероприятие
                        div(class="__select__content")
                            input(id="singleSelect1" class="__select__input" type="radio" name="singleSelect")
                            label(for="singleSelect1" class="__select__label") Option 1
                            input(id="singleSelect2" class="__select__input" type="radio" name="singleSelect")
                            label(for="singleSelect2" class="__select__label") Kizaru
                            input(id="singleSelect3" class="__select__input" type="radio" name="singleSelect")
                            label(for="singleSelect3" class="__select__label") Morgenshtern
                            input(id="singleSelect4" class="__select__input" type="radio" name="singleSelect")
                            label(for="singleSelect4" class="__select__label") Markul
                    button.form-btn Отправить
                .contacts-wrapper-item
                    h1.contacts-wrapper-item-title Наши Контакты
                    p.contacts-wrapper-item-desc Г. Красногорск, Ул. Комсомольская, д. 47
                    a(href="mailto:verron228@mail.ru").contacts-wrapper-item-link #[span Почта:] verron228@mail.ru
                    a(href="tel:+79166346478").contacts-wrapper-item-link #[span Телефон:] +7 916 634 64 78
    .modal-wrapper 
        .container
            .modal 
                form.contacts-wrapper-item.form(action="#")
                    h1.form-title Заполните заявку
                    input(type="text" placeholder="Ваше имя и фамилия", required).form-item
                    input(type="tel" placeholder="Ваш номер телефона", required).form-item
                    input(type="email" placeholder="Ваша почта", required).form-item
                    div(class="__select" data-state="")
                        div(class="__select__title") Выберите мероприятие
                        div(class="__select__content")
                            input(id="singleSelect1" class="__select__input" type="radio" name="singleSelect")
                            label(for="singleSelect1" class="__select__label") Option 1
                            input(id="singleSelect2" class="__select__input" type="radio" name="singleSelect")
                            label(for="singleSelect2" class="__select__label") Kizaru
                            input(id="singleSelect3" class="__select__input" type="radio" name="singleSelect")
                            label(for="singleSelect3" class="__select__label") Morgenshtern
                            input(id="singleSelect4" class="__select__input" type="radio" name="singleSelect")
                            label(for="singleSelect4" class="__select__label") Markul
                    button.form-btn Отправить  
                     
       
