header
    .overlay-header
    section.top-bar
        .container
            .top-bar-wrapper 
                h2.top-bar-wrapper-item
                    a(href="#").top-bar-wrapper-logotype Синема 
                        strong.top-bar-wrapper-strong Афиша
                nav.top-bar-wrapper-item.menu-wrap
                    ul.menu
                        li.menu-item
                            a(href="#actions").menu-item-link События 
                        li.menu-item
                            a(href="#rating").menu-item-link Артисты
                        li.menu-item
                            a(href="#achives").menu-item-link Преимущества
                        li.menu-item
                            a(href="#reviews").menu-item-link Отзывы 
                        li.menu-item
                            a(href="#faq").menu-item-link FAQ
                        li.menu-item
                            a(href="#contacts").menu-item-link Контакты
                .top-bar-burger 
                    span.top-bar-burger-item 
                    span.top-bar-burger-item 
                    span.top-bar-burger-item 
    section.preview 
        .container 
            .preview-wrapper 
                .preview-wrapper-item 
                    h1.preview-wrapper-item-title Синема #[span Афиша] – твой#[br]онлайн помощник
                    p.preview-wrapper-item-desc Известные исполнители в Москве#[br]уже на #[span этой] неделе
                    .preview-wrapper-item-btn
                        a(href="#actions").preview-wrapper-item-link Ознакомиться
                .preview-wrapper-item 
                    img(src="img/icons/tickets.svg", alt="icon-ticket") 
