main
    section.actions#actions
            .section-title
                h2.actions-title.section-title-content События
            .actions-slider
                .swiper-wrapper 
                    .swiper-slide
                        .actions-item.--markul
                            .actions-item-wrapper
                                h2.actions-item-wrapper-title #[span Markul] – Festival Stadium
                                p.actions-item-wrapper-songs Треки: Бумеранг, Fata Morgana
                                p.actions-item-wrapper-price 2000р
                            .actions-item-btn
                                a(href="#contacts").actions-item-btn-link Посетить  
                    .swiper-slide
                        .actions-item.--kizaru
                            .actions-item-wrapper
                                h2.actions-item-wrapper-title #[span Kizaru] – House Stadium
                                p.actions-item-wrapper-songs Треки: Honneys Kettle, Лунатик
                                p.actions-item-wrapper-price 4500р
                            .actions-item-btn
                                a(href="#contacts").actions-item-btn-link Посетить
                    .swiper-slide
                        .actions-item.--morgen
                            .actions-item-wrapper
                                h2.actions-item-wrapper-title #[span Morgenshtern] – Festival Stadium
                                p.actions-item-wrapper-songs Треки: Cadillac, Cristal & МОЁТ
                                p.actions-item-wrapper-price 1400р
                        .actions-item-btn
                            a(href="#contacts").actions-item-btn-link Посетить
                .swiper-button-next 
                .swiper-button-prev
                .swiper-pagination
    section.achives#achives
        .container
            .section-title
                h2.achives-title.section-title-content Наши преимущества
            .achives-wrapper 
                .achives-wrapper-item
                    img.achives-wrapper-item-icon(src="img/icons/micro.svg", alt="icon-achives")
                    hr.achives-wrapper-item-line
                    h3.achives-wrapper-item-desc Большой выбор#[br]событий
                .achives-wrapper-item
                    img.achives-wrapper-item-icon(src="img/icons/dollar.svg", alt="icon-achives")
                    hr.achives-wrapper-item-line
                    h3.achives-wrapper-item-desc Отсутствие комиссий и#[br]переплат
                .achives-wrapper-item
                    img.achives-wrapper-item-icon(src="img/icons/time.svg", alt="icon-achives")
                    hr.achives-wrapper-item-line
                    h3.achives-wrapper-item-desc Минимальная трата#[br]времени
                .achives-wrapper-item
                    img.achives-wrapper-item-icon(src="img/icons/house.svg", alt="icon-achives")
                    hr.achives-wrapper-item-line
                    h3.achives-wrapper-item-desc Возможность оформить покупку дома или в офисе
    section.rating#rating
        .container
            .section-title
                h2.rating-title.section-title-content Топ артистов
            .rating-wrapper 
                .rating-wrapper-item 
                    img(src="img/kizaru-ava.webp", alt="artist-ava").rating-wrapper-item-picture
                    h2.rating-wrapper-item-title Kizaru
                    h3.rating-wrapper-item-desc российский и испанский хип-хоп-исполнитель, родом из Санкт-Петербурга
                    p.rating-wrapper-item-audit Охват аудитории: 10млн
                    p.rating-wrapper-item-rating Рейтинг: 9.1
                    .rating-mod 1
                .rating-wrapper-item
                    img(src="img/morgen-ava.webp", alt="artist-ava").rating-wrapper-item-picture
                    h2.rating-wrapper-item-title Morgenshtern
                    h3.rating-wrapper-item-desc российский хип-хоп исполнитель, а также автор многих хитов
                    p.rating-wrapper-item-audit Охват аудитории: 9млн
                    p.rating-wrapper-item-rating Рейтинг: 8.9
                    .rating-mod 2
                .rating-wrapper-item 
                    img(src="img/slava-ava.webp", alt="artist-ava").rating-wrapper-item-picture
                    h2.rating-wrapper-item-title Slava Marlow
                    h3.rating-wrapper-item-desc российский музыкальный продюсер, автор песен и видеоблогер
                    p.rating-wrapper-item-audit Охват аудитории: 7млн
                    p.rating-wrapper-item-rating Рейтинг: 8.7 
                    .rating-mod 3
    section.reviews#reviews
        .container
            .section-title
                h2.reviews-title.section-title-content Отзывы
            .reviews-slider
                .swiper-wrapper 
                    .swiper-slide 
                        .reviews-wrapper
                            .reviews-wrapper-item 
                                img(src="img/man-1.webp", alt="picture-man")
                            .reviews-wrapper-item 
                                h2.reviews-wrapper-item-title Владимир
                                p.reviews-wrapper-item-desc Пользуюсь сервисом уже около года, очень удобный пользовательский интерфейс и широкий спектр выбора событий, всем доволен
                    .swiper-slide
                        .reviews-wrapper 
                            .reviews-wrapper-item 
                                img(src="img/man-2.webp", alt="picture-man")
                            .reviews-wrapper-item 
                                h2.reviews-wrapper-item-title Аркадий
                                p.reviews-wrapper-item-desc Заказывал пару раз билеты на Kizaru, очень остался рад быстродействием сервиса, сервис оставил только положительные эмоции
                    .swiper-slide
                        .reviews-wrapper
                            .reviews-wrapper-item  
                                img(src="img/man-3.webp", alt="picture-man")
                            .reviews-wrapper-item 
                                h2.reviews-wrapper-item-title Анатолий
                                p.reviews-wrapper-item-desc Без сомнений лучший сервис среди аналогов, хорошая инструкция по покупке для новичков в этом деле, в свое время мне очень помогла
                .swiper-button-next 
                .swiper-button-prev
    section.faq#faq
        .container
            .section-title
                h2.faq-title.section-title-content FAQ
                p.faq-title-desc Ответы на часто задаваемые вопросы
            .faq-wrapper 
                .faq-wrapper-item 
                    .faq-wrapper-item-quest 
                        h3.faq-wrapper-item-quest-content Берет ли сервис комиссию?
                        img(src="img/icons/arrow-down.svg", alt="icon-arrow").faq-wrapper-item-quest-icon
                    .faq-wrapper-item-answer 
                        h3.faq-wrapper-item-answer-content Наш сервис полностью бесплатный, и никакой комиссии не берет
                .faq-wrapper-item 
                        .faq-wrapper-item-quest 
                            h3.faq-wrapper-item-quest-content Могу ли я купить билет завтрашним числом?
                            img(src="img/icons/arrow-down.svg", alt="icon-arrow").faq-wrapper-item-quest-icon
                        .faq-wrapper-item-answer 
                            h3.faq-wrapper-item-answer-content Да, вы спокойно можете оформить билет за неделю до начала события
                .faq-wrapper-item 
                        .faq-wrapper-item-quest 
                            h3.faq-wrapper-item-quest-content Как купить билет?
                            img(src="img/icons/arrow-down.svg", alt="icon-arrow").faq-wrapper-item-quest-icon
                        .faq-wrapper-item-answer 
                            h3.faq-wrapper-item-answer-content Для того, чтобы купить билет, вам необходимо перейти в раздел «События», далее выбрать интересующее вас, после чего нажать кнопку «Посетить»
                .faq-wrapper-item 
                        .faq-wrapper-item-quest 
                            h3.faq-wrapper-item-quest-content Можно ли сделать возврат средств?
                            img(src="img/icons/arrow-down.svg", alt="icon-arrow").faq-wrapper-item-quest-icon
                        .faq-wrapper-item-answer 
                            h3.faq-wrapper-item-answer-content К сожалению, наш сервис не предполагает политики возврата средств      

